* {
	margin: 0;
	padding: 0;
}

html, body {
	background: black;
	color: #00ff00;
	font-family: monospace;
}

.parent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.interface {
	max-width: 480px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #00ff00;
	font-style: italic;
}

.header, .bottom {
	margin: 1em;
}

.story, .user-options, .user-choice, .location{
	text-align: center;
	margin: 1em;
}

.user-choice {
	text-align: center;
}

.user-choice input {
	background: black;
	border: none;
	border-bottom: 1px solid #00ff00;
	outline: none;
	color: #00ff00;
	padding: 0.2em;
	text-transform: uppercase;
}

#go {
	display: none;
}

.bottom {
	display: block;
	text-align: center;
}

.bottom ul {
	list-style: none;
}

.info  {
	display: inline-block;
}

.description {
	margin-right: 0.5em;
	text-align: right;
}

.value {
	margin-right: 2em;
	text-align: left;
}